{% extends "matches/base.html" %}
{% load static %}
{% block title %}Matches{% endblock %}

{% block content %}
    <div class="content mt-5">
        {% if submitted %}
            <div class="alert alert-success">Match was created successfully!</div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save" class="btn btn-primary">
            <button onclick="location.href='/matches'" class="btn btn-secondary">Back</button>
        </form>
    </div>
{% endblock %}


