{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Goal events{% endblock %}

{% block content %}
    <div class="content">
        <div class="col-lg-6">
            {% if submitted %}
                <div class="alert alert-success">Goal events were created successfully!</div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% if formset.non_form_errors %}
                    <div class="alert alert-danger">
                        {{ formset.non_form_errors }}
                    </div>
                {% endif %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                {{ formset.management_form }}
                {% for form in formset %}
                <fieldset>
                    <legend> <strong> Goal {{ forloop.counter }}: </strong> </legend>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.scoring_player|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ form.assisting_player|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{ form.type|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ form.time|as_crispy_field }}
                        </div> 
                        <div class="form-group col-md-4">
                            {{ form.club|as_crispy_field }}
                        </div>
                    </div>
                </fieldset>
                {% endfor %}
                <input type="hidden" id="cancel" name="cancel" value="">
                <div class="row">
                    <div class="col-lg-6 p-2">
                        <button class="btn btn-primary w-100"> Save </button>
                    </div>
                    <div class="col-lg-6 p-2">
                        <button type="button" onclick="document.getElementById('cancel').value='true'; this.form.submit();" class="btn btn-secondary w-100" style="color: white; cursor: pointer">Cancel</button>
                    </div>
                </div>             
            </form>
        </div>
    </div>
{% endblock %}
