{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/match-card.css' %}">
    <link rel="stylesheet" href="{% static 'css/match-fixture.css' %}">
{% endblock %}
{% block title %}Matches{% endblock %}

{% block content %}

<div class="container">
    <h3 class='display-4' style="position: relative; top: 20px; padding: 0 5px;"> Featured Matches </h3>
    <div class="scroll-container mt-5 mb-4">
        <div class="row flex-wrap overflow-auto jumbotron">
            {% if matches_list|length >= 2 %}
                {% for match in matches_list|slice:":2" %}
                    {% include 'matches/matches_scrollview.html' with match=match %}
                {% endfor %}
            {% elif matches_list|length == 1 %}
                {% include 'matches/matches_scrollview.html' with match=matches_list.0 %}
            {% endif %}
        </div>
        
    </div>
</div> 
<hr style="width: 90%">
<div class="col-12">
    <section class="fixtures">
        <div class="fixtures-container">
            <div class="fixtures-content-container">
                <div class="fixtures__heading">
                    Fixtures
                </div>
                <span>
                    <img class="fixtures__competition-logo" src={% static "imgs/epl_competition_logo_baw.png" %}>
                    {% if user.user_profile.type == "admin" %}
                        <button class="btn btn-primary btn-sm ml-3" onclick="location.href='{% url 'matches:add' %}'">Add</button>
                    {% endif %}
                </span>
            </div>
            <div class="fixtures__matches-list">
                <ul class="matchList">
                    {% for match in matches_list %}
                        {% if match.status == "U" %}
                            {% include 'matches/match-fixture.html' with match=match %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
<hr style="width: 90%">
<div class="col-12">
    <section class="fixtures">
        <div class="fixtures-container">
            <div class="fixtures-content-container">
                <div class="fixtures__heading">
                    Results
                </div>
                <span>
                    <img class="fixtures__competition-logo" src={% static "imgs/epl_competition_logo_baw.png" %}>
                    {% if user.user_profile.type == "admin" %}
                        <button class="btn btn-primary btn-sm ml-3" onclick="location.href='{% url 'matches:add' %}'">Add</button>
                    {% endif %}
                </span>
            </div>
            <div class="fixtures__matches-list">
                <ul class="matchList">
                    {% for match in matches_list %}
                        {% if match.status == "P" %}
                            {% include 'matches/match-fixture.html' with match=match %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block additional_scripts %}
<script>
    function deleteMatchConfirmation(matchId) {
        if (confirm("Do you confirm to remove this match?")) {
            location.href = "/matches/delete/" + matchId + "/";
        }
    }
</script>
{% endblock %}