{% extends "pages/matches_base.html" %}
{% load static %}
{% block title %}Matches{% endblock %}

{% block content %}
    <h3 class='display-4' style="position: relative; top: 20px; left: 40px"> Previous </h3>
    <div class="container-fluid">
        <div class="scroll-container mt-5 mb-4">
            <div class="row flex-nowrap overflow-auto jumbotron">
                {% for match in matches_list %}
                {% if match.status == 'P' %}
                    <div class="col-6 scrolling-item">
                        <div class="match">
                            <div class="match-header">
                                    <div class="match-status">Previous</div>
                                <div class="match-tournament"><img src={% static "images/Premiere-League.png" %} style="height: 30px;"/>&nbsp;English Premier League</div>
                            </div>
                            <div class="match-content">
                                <div class="column">
                                    <div class="team team--home">
                                        <div class="team-logo">
                                            <img src="{{ match.club1.logo.url }}" style="width: 40%"/>
                                        </div>
                                        <h2 class="team-name">{{ match.club1.name }}</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="match-details">
                                        <div class="match-round">
                                            <strong>Round</strong>
                                            <strong>{{ match.round }}</strong>
                                        </div>
                                        <div class="match-date">
                                            <strong>{{ match.time }}</strong>
                                        </div>
                                        <div class="match-score">
                                            <span class="match-score-number match-score-number--leading">{{ match.result.club1_goals }}</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">{{ match.result.club2_goals }}</span>
                                        </div>
                                        {% if match.result.club1_goals >= 0 and match.result.club2_goals >= 0 %}
                                            <button class="match-bet-place" onclick="location.href='{% url 'view' match.id %}'">Detail</button>
                                        {% elif not match.result.exists %}
										{% if user.user_profile.type == 'organizer' %}
                                            <button class="match-bet-place" onclick="location.href='{% url 'add_result' match.id %}'">Update</button>
										{% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="team team--away">
                                        <div class="team-logo">
                                            <img src="{{ match.club2.logo.url }}" style="width: 40%"/>
                                        </div>
                                        <h2 class="team-name">{{ match.club2.name }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div> 
    <hr class="featurette-divider">
    <h3 class='display-4' style="position: relative; top: 20px; left: 40px"> Upcoming </h3>
    <div class="container-fluid">
        <div class="scroll-container mt-5 mb-4">
            <div class="row flex-nowrap overflow-auto jumbotron">
                {% for fixture in fixture_list %}
                {% for round in round_list %}
                {% if fixture.round_name == round %}
                {% if fixture.status.statusname == 'Upcoming' %}
                    <div class="col-6 scrolling-item">
                        <div class="match">
                            <div class="match-header">
                                <div class="match-status">Upcoming</div>
                                <div class="match-tournament"><img src={% static "images/Premiere-League.png" %} style="height: 30px;"/>&nbsp;English Premier League</div>
                            </div>
                            <div class="match-content">
                                <div class="column">
                                    <div class="team team--home">
                                        <div class="team-logo">
                                            <img src="{{ fixture.team1.team_image.url }}" style="width: 40%"/>
                                        </div>
                                        <h2 class="team-name">{{ fixture.team1.team_name }}</h2>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="match-details">
                                        <div class="match-round">
                                            <strong>Round</strong>
                                            <strong>{{ fixture.round_name }}</strong>
                                        </div>
                                        <div class="match-date">
                                            <strong>{{ fixture.time }}</strong>
                                        </div>
                                        <div class="match-score">
                                            <span class="match-score-number match-score-number--leading">{{ fixture.result.team1pts }}</span>
                                            <span class="match-score-divider">:</span>
                                            <span class="match-score-number">{{ fixture.result.team2pts }}</span>
                                        </div>
                                        <button class="match-bet-place" onclick="location.href='{% url 'show_result' fixture.fixtureid %}'">Detail</button>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="team team--away">
                                        <div class="team-logo">
                                            <img src="{{ fixture.team2.team_image.url }}" style="width: 40%"/>
                                        </div>
                                        <h2 class="team-name">{{ fixture.team2.team_name }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</br>

<style>
    .button-left {
        position: relative;
        left: 40px; /* Adjust the left value as per your requirements */
    }
</style>
<hr class="featurette-divider">
<h3 class='display-4' style="position: relative; top: 20px; left: 40px"> All Matches </h3>
</br></br>
<button class="btn btn-warning button-left" type="button" data-toggle="collapse" data-target="#apply_collapse" aria-expanded="false" aria-controls="apply_collapse">
    Expand/Collapse All
</button>


<div class="collapse" id="apply_collapse">
</br>
<div class="container-fluid jumbotron">
    {% for fixture in fixture_list %}
    {% for round in round_list %}
    {% if fixture.round_name == round %}
    <div class="row justify-content-center">
        <div class="match col-6">
            <div class="match-header">
                {% if fixture.status.statusname == 'Done' %}
                    <div class="match-status">Done</div>
                {% else %}
                    <div class="match-status">Upcoming</div>
                {% endif %}
                <div class="match-tournament"><img src={%static "images/Premiere-League.png"%} style="height: 30px;"/>&nbsp;English Premier League</div>
            </div>
            <div class="match-content">
                <div class="column">
                    <div class="team team--home">
                        <div class="team-logo">
                            <img src="{{fixture.team1.team_image.url}}" style="width:40%"/>
                        </div>
                        <h2 class="team-name">{{fixture.team1.team_name}}</h2>
                    </div>
                </div>
                <div class="column">
                    <div class="match-details">
                        <div class="match-round">
                            <strong>Round</strong>
                            <strong>{{ fixture.round_name }}</strong>
                        </div>
                        <div class="match-date">
                            <strong>{{fixture.time}}</strong>
                        </div>
                        <div class="match-score">
                            <span class="match-score-number match-score-number--leading">{{fixture.result.team1pts}}</span>
                            <span class="match-score-divider">:</span>
                            <span class="match-score-number">{{fixture.result.team2pts}}</span>
                        </div>
                        {% if fixture.status.statusname == 'Done' %}
                        {% if fixture.result.team1pts >= 0 and fixture.result.team2pts >= 0 %}
                        <button class="match-bet-place" onclick="location.href='{% url 'show_result' fixture.fixtureid %}'">Detail</button>
                        {% elif not fixture.result.exists %}
						{% if user.user_profile.type == 'organizer' %}
                        <button class="match-bet-place" onclick="location.href='{% url 'add_scores' fixture.fixtureid %}'">Update</button>
						{% endif %}
                        {% endif %}
                        {% else %}
                        <button class="match-bet-place" onclick="location.href='{% url 'show_result' fixture.fixtureid %}'">Detail</button>
                        {% endif %}
                    </div>
                </div>
                <div class="column">
                    <div class="team team--away">
                        <div class="team-logo">
                            <img src="{{fixture.team2.team_image.url}}" style="width:40%"/>
                        </div>
                        <h2 class="team-name">{{fixture.team2.team_name}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br>
</br>
{% endif %}
{% endfor %}
{% endfor %}
</div> 
</div>
{% if user.user_profile.type == 'organizer' %}
<div class="add-match text-center mt-5">
    <button class="btn btn-primary" onclick="location.href='{% url 'add' %}'">Add match</button>
</div>
{% endif %}
{% endblock %}