{% extends "pages/managers_base.html" %}
{% load static %}
{% block title %}Managers{% endblock %}

{% block content %}
<div class="content">
    {% if submitted %}
        <div class="alert alert-success">Manager was created successfully!</div>
    {% else %}

    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Save" class="btn btn-primary">
        <button onclick="location.href='/managers'" class="btn btn-secondary">Back</button>
    </form>
</div>
{% endblock %}