{% extends "managers/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Managers{% endblock %}

{% block content %}
<div class="content">
    {% if submitted %}
        <div class="alert alert-success">Manager was added successfully!</div>
    {% endif %}
    <div class="col-lg-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend> <strong> Manager Information </strong> </legend>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.name|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.nationality|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.dob|as_crispy_field }}
                    </div> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.club|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.image|as_crispy_field }}
                    </div> 
                </div>
            </fieldset>
            <div class="row">
                <div class="col-lg-6 p-2">
                    <button class="btn btn-primary w-100"> Save </button>
                </div>
                <div class="col-lg-6 p-2">
                    <a onclick="location.href='/managers'" class="btn btn-secondary w-100" style="color: white; cursor: pointer">Cancel</a>
                </div>
            </div>             
        </form>
    </div>
</div>
{% endblock %}
