{% extends "managers/base.html" %}
{% load static %}
{% block title %}Managers{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="input-group">
            <form method="GET" action="{% url 'managers:search' %}" class="d-flex">
                <div class="form-outline">
                    {{ form.manager_name }}
                </div>
                <button type="submit" class="btn btn-outline-primary">SEARCH</button>
            </form>
        </div>

        {% if found_managers %}
            <br><br>
            <h3 class="display-4 font-select"> Managers </h3>
            <br>
            {% for manager in found_managers %}
                <div class="card">
                    <div class="card-header">
                        <span><img src="{{manager.image.url}}" style="height:50px; width:50px; "></span>
                        &nbsp;
                        <a href="{% url 'managers:view' manager_id=manager.id %}">
                            <span class="font-weight-bold">{{manager.name}}</span>
                        </a>
                        <span class="text-success font-weight-bold"> Club: {{ manager.club.name}}</span>
                        {% if user.user_profile.type == 'admin' %}
                        <span class="float-right text-info ml-2"><button onclick="deleteManagerConfirmation('{{ manager.id }}')" class="btn btn-secondary">Remove</button></span>
                        <span class="float-right text-info ml-3"><button onclick="location.href='{% url 'managers:edit' manager_id=manager.id %}'" class="btn btn-secondary">Edit</button></span>
                        {% endif %}
                    </div>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <h3 class="display-4 font-select"> No managers found.</h3>
        {% endif %}
        {% if user.user_profile.type == 'admin' %}
            <div class="add-manager text-center">
                <button onclick="location.href='{% url 'managers:add' %}'" class="btn btn-primary">Add manager</button>
            </div>
        {% endif %}
    </div>
{% endblock %}
