.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.standings {
    width: 500px;
    height: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.potm {
    width: 500px;
    height: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.seeall {
    width: 90%;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d3dc0;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
}

.seeall a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.content_title {
    display: flex;
    position: absolute;
    left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    color: #0C0225;
}

.potm_picture {
    position: absolute;
    left: 20px;
    width: 50px;
    height: 55px;
    top: 50px;
}

.potm_content {
    display: flex;
    justify-content: space-evenly;
}

.information {
    display: flex;
    justify-content: space-evenly;
}

.ileft {
    position: absolute;
    left: 150px;
    top: 40px;
}

.iright {
    position: absolute;
    right: 15px;
    top: 60px;
}

.ileft h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0C0225;
}

.ileft h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 42px;
    color: #0C0225;
}

.iright h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    color: #0C0225;
    margin: 0;
}

.clubs_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clubs_logo img {
    margin: 5px;
}

.clubs_pts h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #0C0225;
}

.clubs_name h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #0C0225;
}

.stt h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #0C0225;
}

.stt {
    position: absolute;
    top: 30px;
    left: 30px;
}

.clubs_name {
    position: absolute;
    top: 30px;
    left: 35%;
}

.clubs_pts {
    position: absolute;
    top: 30px;
    right: 30px;
}

.clubs_logo {
    position: absolute;
    top: 38px;
    left: 15%;
}

.schedule {
    width: 500px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.fixture {
    display: flex;
    width: 500px;
    height: 10%;
    position: absolute;
    background-color: #EBEFFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
}

#fixture1 {
    bottom: 460px;
}

#fixture2 {
    bottom: 240px;
}

#fixture3 {
    bottom: 20px;
}

.fixture h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(12, 2, 37, 0.4);
    position: absolute;
    left: 70px;
}

.calendar {
    position: absolute;
    left: 10px;
}

.trophy {
    position: absolute;
    right: 10px;
}

.versus {
    display: flex;
    align-items: center;
    width: 500px;
    height: 70%;
    position: relative;
}

.versus h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: rgb(12, 2, 37);
    position: absolute;
    left: 120px;
}

.attacker {
    width: 60px;
    height: 50px;
    position: absolute;
    left: 0px;
}

.defender {
    width: 60px;
    height: 50px;
    position: absolute;
    left: 60px;
}

.font-select{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}

h3.display-4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
}

.card-img-top {
    height: 100%;
    object-fit: scale-down;
}