@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--color-text-primary: #1c2a38;
	--color-text-secondary: #8A8F98;
	--color-text-alert: #d72641;
	--color-text-icon: #dbdade;
	--color-bg-primary: #fff;
	--color-bg-secondary: #f3f5f9;
	--color-bg-alert: #fdeaec;
	--color-theme-primary: #623ce6;
}


button,
input,
select,
textarea {
	font: inherit;
}

strong {
	font-weight: 600;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
}

.container {
    max-width: 1450px;
    margin: 20px auto;
}

.match {
	background-color: var(--color-bg-primary);
	display: flex;
	flex-direction: column;
	min-width: 440px;
	border-radius: 10px;
    max-width: 700px;
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
}

.match-header {
	display: flex;
	padding: 16px;
    border-bottom: 2px solid rgba(67, 50, 50, 0.1);
}

.match-status {
	background-color: var(--color-bg-alert);
	color: var(--color-text-alert);
	padding: 8px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-right: auto;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentcolor;
		border-radius: 50%;
		margin-right: 8px;
	}
	
}

.match-tournament {
	display: flex;
	align-items: center;
	font-weight: 600;
	img {
		width: 20px;
		margin-right: 12px;
	}
}
.btn-icon {
	border: none;
	background-color: transparent;
	color: var(--color-text-icon);
	display: flex;
	align-items: center;
	justify-content: center;
}


.match-content {
	display: flex;
	position: relative;
}

.column {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%/3);
}


.match .club {
	display: flex;
	flex-direction:column;
	align-items: center;
}

.match .club-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
    box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15),
    0 0 0 15px var(--color-bg-secondary);
	img {
		width: 50px;
	}
}

.match .club-name {
	text-align:center;
	margin-top: 26px;
	font-size: 16px;
	font-weight: 600;
}

.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-date, .match-referee {
	font-size: 12px;
	color: var(--color-text-secondary);
	strong {
		color: var (--color-text-primary);
	}
}

.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.match-score-number {
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}

.match-score-divider {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: var (--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
}

.match-time {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	color: var (--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
	border: 2px solid #757b82;
	padding: 10px;
}

.match-button {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
    color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
}

h3.display-4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.form-border {
    border: 2px solid #DEDEDE;
    padding: 10px;
    margin-bottom: 10px;
}

.scrolling-item {
    flex-shrink: 0;
    margin-right: auto;
	/* margin-left: auto; */
}

@media (max-width: 1023px) {
	.scrolling-item {
        width: 100%;
        padding: 20px; 
		margin: auto 0px;
	}
	.row {
		flex-direction: column;
	}
}
