body {
    margin: 0;
}

.icon_logo {
    position: relative;
    width: 100%;
    min-height: 95px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
}

.teams_icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon {
    height: 30px;
    margin-left: 10px;
    justify-content: center;
}

.league-image {
    position: absolute;
    width: 80px;
    top: 0;
    left: 10px;
}

.image_insert {
    height: 25px;
    justify-content: center;
}

.menu {
    position: sticky;
    top: 0;
    background: #301934;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 9px;
    z-index: 9999;
}

.nav-toggle {
    display: none;
}

@media (max-width: 1100px) {
    .nav-toggle-label {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: white;
        height: 2px;
        width: 100%;
        position: absolute;
        transition: transform 0.3s ease-in-out;
    }

    .nav-toggle-label span {
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-toggle-label span::before {
        content: "";
        top: -7px;
    }

    .nav-toggle-label span::after {
        content: "";
        top: 7px;
    }

    .nav-toggle:checked+.nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-toggle:checked+.nav-items li {
        opacity: 1;
        transform: translateX(0);
    }

    .nav-toggle:checked+.nav-toggle-label span::before {
        transform: rotate(45deg) translate(3px, 7px);
    }

    .nav-toggle:checked+.nav-toggle-label span {
        background: transparent;
    }

    .nav-toggle:checked+.nav-toggle-label span::after {
        transform: rotate(-45deg) translate(3px, -7px);
    }

    .nav-items {
        list-style: none;
        margin: 0;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #301934;
        width: 100%;
        padding: 10px;
        transition: transform 0.3s ease-in-out;
        line-height: 2.5;
    }

    .nav-items li {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .nav-items li {
        margin-right: 10px;
    }

    .nav-items li:last-child {
        margin-right: 0;
    }

    .nav-items li a {
        color: #ffffff;
        text-decoration: none;
    }

    .nav-toggle:checked~.nav-items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transform: translateY(0);
    }

    .nav-toggle:checked~.nav-items li {
        opacity: 1;
        transform: translateY(0);
    }
}


.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
}

.menu ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: width 0.5s;
}

.menu ul li:hover::after {
    width: 100%;
}

.content {
    min-height: 300px;
    width: 100%;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    color: #550055;
    line-height: 24px;
}

.content {
    position: relative;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 10px;
}

.username {
    text-align: right;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #da0c0c;
    position: absolute;
    top: 10px;
    left: 100px;
}

.logout {
    text-align: right;
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #da0c0c;
    position: absolute;
    top: 10px;
    left: 150px;
}

.user {
    align-items: center;
}

.logo_name {
    text-align: right;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    color: #550055;
    left: 100px;
    top: 35px;
}

.season {
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #580b58;
    position: absolute;
    top: 60px;
    left: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	--color-text-primary: #1c2a38;
	--color-text-secondary: #8A8F98;
	--color-text-alert: #d72641;
	--color-text-icon: #dbdade;
	--color-bg-primary: #fff;
	--color-bg-secondary: #f3f5f9;
	--color-bg-alert: #fdeaec;
	--color-theme-primary: #623ce6;
}


button,
input,
select,
textarea {
	font: inherit;
}


img {
	display: block;
	
}

strong {
	font-weight: 600;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
}

.match {
	background-color: var(--color-bg-primary);
	display: flex;
	flex-direction: column;
	min-width:450px;
	border-radius: 10px;
    max-width: 1000px;
	box-shadow: 0 0 2px 0 rgba(48, 48, 48, 0.1), 0 4px 4px 0 rgba(48, 48, 48, 0.1);
}

.match-header {
	display: flex;
	padding: 16px;
    border-bottom: 2px solid rgba(67, 50, 50, 0.1);
}

.match-status {
	background-color: var(--color-bg-alert);
	color: var(--color-text-alert);
	padding: 8px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-right: auto;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentcolor;
		border-radius: 50%;
		margin-right: 8px;
	}
	
}

.match-tournament {
	display: flex;
	align-items: center;
	font-weight: 600;
	img {
		width: 20px;
		margin-right: 12px;
	}
}
.btn-icon {
	border: none;
	background-color: transparent;
	color: var(--color-text-icon);
	display: flex;
	align-items: center;
	justify-content: center;
}


.match-content {
	display: flex;
	position: relative;
}

.column {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100%/3);
}


.team {
	display: flex;
	flex-direction:column;
	align-items: center;
	
}

.team-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
    box-shadow: 0 4px 4px 0 rgba(48, 48, 48, 0.15),
    0 0 0 15px var(--color-bg-secondary);
	img {
		width: 50px;
	}

}

.team-name {
	text-align:center;
	margin-top: 26px;
	font-size: 20px;
	font-weight: 600;
}

.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-date, .match-referee {
	font-size: 14px;
	color: var(--color-text-secondary);
	strong {
		color: var (--color-text-primary);
	}
}

.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.match-score-number {
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}

.match-score-divider {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: var (--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
	
}

.match-bet-place {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
    color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(48, 48, 48, 0.25);
}


.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h3.display-4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
}

.form-border {
    border: 2px solid #DEDEDE;
    padding: 10px;
    margin-bottom: 10px;
}

.scrolling-item {
    flex-shrink: 0;
    margin-right: auto;
}

@media (min-width: 600px) and (max-width: 930px) {
    .scrolling-item {
        flex-shrink: 0;
        margin-right: 170px;
    }
}

@media (max-width: 600px) {
    .scrolling-item {
        flex-shrink: 0;
        margin-right: 270px;
    }
}
