{% extends "players/base.html" %}
{% load static %}
{% block title %}Players{% endblock %}

{% block content %}
    <div class="content">
        {% if submitted %}
            <div class="alert alert-success">Player was created successfully!</div>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save" class="btn btn-primary">
            <button onclick="location.href='/players'" class="btn btn-secondary">Back</button>
        </form>
    </div>
{% endblock %}
