{% extends "players/base.html" %}
{% load static %}
{% block title %}Players{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="card col-md-12 p-3 jumbotron">
                <div class="row ">
                    <div class="col-md-4">
                        <img src="{{player.image.url}}" width="300" height="300">
                    </div>
                    <div class="col-md-8">
                        <div class="card-block">
                            <h3 class="card-title">{{player.name}}</h3>
                            <p class="card-text text-justify">
                            <p><b>Date of birth</b>: {{player.dob}} (age {{player.age}})</p>
                            <p><b>Club</b>: {{player.club.name}}</p>
                            <p><b>Weight (kg)</b>: {{player.weight}}</p>
                            <p><b>Height (cm)</b>: {{player.height}}</p>
                            <p><b>Position</b>: {{player.get_position_display}}</p>
                            <p><b>Nationality</b>: {{player.nationality}}</p>
                            <p><b>Number of Goals</b>: {{player.player_stats.goals}}</p>
                            <p><b>Number of Assists</b>: {{player.player_stats.assists}}</p>
                            </p>
                            <a href="https://www.google.com/search?q={{player.name}}" class="btn btn-success">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user.user_profile.type == 'admin' %}
            <button onclick="location.href='{% url 'players:edit' player.id %}'" class="btn btn-primary">Edit</button>
            <button onclick="deletePlayerConfirmation('{{ player.id }}')" class="btn btn-primary">Remove</button>
        {% endif %}
        <button onclick="location.href='/players'" class="btn btn-secondary">Back</button>
    </div>
    <script>
        function deletePlayerConfirmation(playerId) {
            if (confirm("Do you confirm to remove this player?")) {
                location.href = "/players/delete/" + playerId + "/";
            }
        }
    </script>
{% endblock %}
