<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/more.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="icon_logo">
        <div class="teams_icon">
        {% if user.user_profile.type == 'admin' %}
        <button>
        <a href="/clubs/add"><img src="{% static 'imgs/image_insert.png' %}" class="image_insert"/></a>
        </button>
        {% endif %}
        {% for club in clubs %}
            <img src="{{ club.logo.url }}" class="icon"/>
        {% endfor %}
        </div>
        <div class="logo">
        <div class="user">
            <b class="username">{{user.username}}</b>
            <a href="{% url 'auth:logout' %}" class="logout">Log Out</a>
        </div>
        <b class="logo_name">Premiere League</b>
        <b class="season">Season 2023 - 2024</b>
        <img src="{% static 'imgs/Premiere-League.png' %}" class="league-image"/>
        </div>
    </div>
    <div class="menu">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        </label>
        <ul class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/clubs">Clubs</a></li>
            <li><a href="/players">Players</a></li>
            <li><a href="/managers">Managers</a></li>
            <li><a href="/more">More</a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% else %} 
    <script>
        window.location.replace("/auth/");
    </script>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
