{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Regulation {% endblock %}

{% block content %}
    <div class="content">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend> <strong> Regulations </strong> </legend>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.player_min_age|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.player_max_age|as_crispy_field }}
                    </div> 
                </div> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.manager_min_age|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.manager_max_age|as_crispy_field }}
                    </div> 
                </div> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.min_players|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.max_players|as_crispy_field }}
                    </div> 
                </div> 
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.win_points|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.loss_points|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.draw_points|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.max_foreign_players|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.duration|as_crispy_field }}
                    </div>
                </div> 
            </fieldset>
            <input type="submit" value="Save" class="btn btn-primary">
            <a onclick="location.href='/more/regulation/view/'" class="btn btn-secondary" style="cursor: pointer; color: white">Back</a>
        </form>
    </div>
{% endblock %}