{% extends "base.html" %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/more.css' %}">
{% endblock %}
{% block title %}More{% endblock %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    
    <div class="container">
    <br>
    <h3 class="display-4 font-select"> Standings </h3>
    <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Matches</th>
                    <th>Wins</th>
                    <th>Draws</th>
                    <th>Losses</th>
                    <th>Goals</th>
                    <th>Conceded Goals</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for club_stat in standings %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ club_stat.club.name }}</td>
                        <td>{{ club_stat.wins|add:club_stat.draws|add:club_stat.losses }}</td>
                        <td>{{ club_stat.wins }}</td>
                        <td>{{ club_stat.draws }}</td>
                        <td>{{ club_stat.losses }}</td>
                        <td>{{ club_stat.goals }}</td>
                        <td>{{ club_stat.conceded_goals }}</td>
                        <td>{{ club_stat.goal_difference }}</td>
                        <td>{{ club_stat.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <h3 class="display-4 font-select"> Top scorers </h3>
    <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Club</th>
                    <th>Position</th>
                    <th>Appearances</th>
                    <th>Goals</th>
                </tr>
            </thead>
            <tbody>
                {% for player_stat in top_scorers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ player_stat.player.name }}</td>
                        <td>{{ player_stat.player.club }}</td>
                        <td>{{ player_stat.player.get_position_display }}</td>
                        <td>{{ player_stat.player.club.club_stats.wins|add:player_stat.player.club.club_stats.draws|add:player_stat.player.club.club_stats.losses }}</td>
                        <td>{{ player_stat.goals }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <br>
    <h3 class="display-4 font-select"> Top playmakers</h3>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Club</th>
                <th>Position</th>
                <th>Appearances</th>
                <th>Assists</th>
            </tr>
        </thead>
        <tbody>
            {% for player_stat in top_play_makers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ player_stat.player.name }}</td>
                    <td>{{ player_stat.player.club }}</td>
                    <td>{{ player_stat.player.get_position_display }}</td>
                    <td>{{ player_stat.player.club.club_stats.wins|add:player_stat.player.club.club_stats.draws|add:player_stat.player.club.club_stats.losses }}</td>
                    <td>{{ player_stat.assists }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h3 class="display-4 font-select"> Matches</h3>
    <br>
    <table class="table">
        {% for match in matches %}
            {% if match.status == 'P' %}
                <thead>
                    <tr class="text-center" style="font-size: 19px">
                        <th>Club 1</th>
                        <th>Result</th>
                        <th>Club 2</th>
                        <th>Round</th>
                        <th>Stadium</th>
                        <th colspan="2">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#E0FEFE" class="text-center">
                        <td><b>{{match.club1}}</b></td>
                        <td><b>{{match.result.club1_goals}}-{{match.result.club2_goals}}</b></td>
                        <td><b>{{match.club2}}</b></td>
                        <td><b>{{match.round}}</b></td>
                        <td><b>{{match.get_stadium_display}}</b></td>
                        <td colspan="2"><b>{{match.time}}</b></td>
                    </tr>
                    <tr>
                        <td colspan="7" class="text-center"><b>Goal Events</b></td>
                    </tr>
                    <tr>
                        <th colspan="2">Scored by</th>
                        <th colspan="2">Assisted by</th>
                        <th>Club</th>
                        <th>Goal Type</th>
                        <th>Time</th>
                    </tr>
                    {% for id, goal_events in goal_events.items %}
                        {% if id == match.id %}
                            {% for goal_event in goal_events %}
                                <tr>
                                    <td colspan="2">{{goal_event.scoring_player.name}}</td>
                                    <td colspan="2">{{goal_event.assisting_player.name}}</td>
                                    <td>{{goal_event.club}}</td>
                                    <td>{{goal_event.get_type_display}}</td>
                                    <td>{{goal_event.time}}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr style="background-color: #FFFFFF"><td colspan="7"><br></td></tr>
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <button onclick="location.href='{% url 'more:export_pdf' %}'" class="btn btn-primary">Export to PDF</button>
    <button onclick="location.href='/more'" class="btn btn-secondary">Back</button>
    </div>
{% endblock %}
