{% extends "layout.html" %}
{% load static %}

{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/clubs.css' %}">
{% endblock %}
{% block title %}Clubs{% endblock %}

{% block content %}
<br>
    <div class="container">
        <br>
        <h3 class="display-4 font-select">Club</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Club</th>
                    <th>Stadium</th>
                    <th>Sponsor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{ club.logo.url }}" height="80px"></td>
                    <td>{{ club.name }}</td>
                    <td>{{ club.get_stadium_display }}</td>
                    <td>{{ club.get_sponsor_display }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        {% if has_manager %}
        <h3 class="display-4 font-select">Manager</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{% url 'managers:view' club.manager.id %}">
                            <span class="font-weight-bold">{{club.manager.name}}</span>
                        </a>
                    </td>
                    <td>{{club.manager.nationality}}</td>
                    {% if user.user_profile.type == 'admin' %}
                        <td><button id="manager-edit-{{club.manager.id}}" onclick="location.href='{% url 'managers:edit' manager_id=club.manager.id %}'"class="btn btn-primary">Edit</button></td>
                        <td><button id="manager-delete-{{club.manager.id}}" onclick="deleteManagerConfirmation('{{ club.manager.id }}')"class="btn btn-danger">Delete</button></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% endif %}
        <br>
        {% if club.player_set.all %}
        <h3 class="display-4 font-select">Players</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Position</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for player in club.player_set.all %}
                <tr>
                    <td>    
                        <a href="{% url 'players:view' player.id %}">
                            <span class="font-weight-bold">{{player.name}}</span>
                        </a>
                    </td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.get_position_display}}</td>
                    {% if user.user_profile.type == 'admin' %}
                        <td><button id="player-edit-{{player.id}}" onclick="location.href='{% url 'players:edit' player.id %}'"class="btn btn-primary">Edit</button></td>
                        <td><button id="player-delete-{{player.id}}" onclick="deletePlayerConfirmation('{{ player.id }}')"class="btn btn-danger">Delete</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if club.achievement_set.all %}
        <h3 class="display-4 font-select">Achievements</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Cup</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                {% for achievement in club.achievement_set.all %}
                <tr>
                    <td>    
                        <img src="{{ achievement.get_img_url }}" height="50px">
                        {{ achievement.get_cup_display }}
                    </td>
                    <td>{{ achievement.year }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <hr>
        <div class="text-center mb-5">
            <button id="club-edit" onclick="location.href='{% url 'clubs:edit' club_id=club.id %}'" class="btn btn-primary">Edit</button>
            <button id="club-delete" onclick="deleteClubConfirmation('{{ club.id }}')" class="btn btn-danger">Delete</button>
            <button onclick="location.href='/clubs'"class="btn btn-secondary">Back</button>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
<script>
    function deleteClubConfirmation(clubId) {
        if (confirm("Do you confirm to remove this club?")) {
            location.href = "/clubs/delete/" + clubId + "/";
        }
    }
    function deletePlayerConfirmation(playerId) {
        if (confirm("Do you confirm to remove this player?")) {
            location.href = "/players/delete/" + playerId + "/";
        }
    }
    function deleteManagerConfirmation(managerId) {
        if (confirm("Do you confirm to remove this manager?")) {
            location.href = "/managers/delete/" + managerId + "/";
        }
    }
</script>
{% endblock %}