{% extends "clubs/base.html" %}
{% load static %}
{% block title %}Clubs{% endblock %}

{% block content %}
</br>
    <div class="container">
        </br>
        <h3 class="display-4 font-select">Team</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Club</th>
                    <th>Stadium</th>
                    <th>Sponsor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="{{ club.logo.url }}" height="80px"></td>
                    <td>{{ club.name }}</td>
                    <td>{{ club.stadium }}</td>
                    <td>{{ club.sponsor }}</td>
                </tr>
            </tbody>
        </table>
        </br>
        <h3 class="display-4 font-select">Manager</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        {% if has_manager %}
            <tbody>
                <tr>
                    <td>{{club.manager.name}}</td>
                    <td>{{club.manager.nationality}}</td>
                    {% if user.user_profile.type == 'admin' %}
                    <td><button onclick="location.href='{% url 'managers:edit' manager_id=club.manager.id %}'"class="btn btn-primary">Edit</button></td>
                    <td><button onclick="deleteManagerConfirmation('{{ club.manager.id }}')"class="btn btn-primary">Remove</button></td>
                    {% endif %}
                </tr>
            </tbody>
        {% endif %}
        </table>
        </br>
        <h3 class="display-4 font-select">Players</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Position</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for player in club.player_set.all %}
                <tr>
                    <td>    
                        <a href="{% url 'players/view' player_id=player.id %}">
                            <span class="font-weight-bold">{{player.name}}</span>
                        </a>
                    </td>
                    <td>{{player.nationality}}</td>
                    <td>{{player.position}}</td>
                    {% if user.user_profile.type == 'admin' %}
                    <td><button onclick="location.href='{% url 'players/edit' player_id=player.id %}'"class="btn btn-primary">Edit</button></td>
                    <td><button onclick="deletePlayerConfirmation('{{ player.id }}')"class="btn btn-primary">Remove</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="location.href='/clubs'"class="btn btn-secondary">Back</button>
    </div>

    <script>
        function deletePlayerConfirmation(playerId) {
            if (confirm("Do you confirm to remove this player?")) {
                location.href = "/players/delete/" + playerId + "/";
            }
        }
        function deleteManagerConfirmation(managerId) {
            if (confirm("Do you confirm to remove this manager?")) {
                location.href = "/managers/delete/" + managerId + "/";
            }
        }
    </script>
{% endblock %}