{% extends "auth/base.html" %}
{% load static %}
{% load static crispy_forms_tags %}
{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="left" style="background-image: url('{% static 'imgs/auth-bg.png' %}');"></div>
    <div class = "right">
        {% if form.errors %}
            <p>Account creation failed!</p>
        {% endif %}
        <form action="{% url 'auth:sign_up' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Sign up" class="btn btn-primary mt-3">
            <div class="Remind">
                <b>Already have an account?</b>
                <a href="/auth/">Sign in</a>
            </div>
        </form>
    </div>
{% endblock %}
