{% extends "base.html" %}
{% load static %}
{% load static crispy_forms_tags %}
{% block additional_styles %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="left" style="background-image: url('{% static 'imgs/auth-bg.png' %}');"></div>
    <div class = "right">
        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Account creation failed!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="{% url 'auth:sign_up' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Sign up" class="btn btn-primary mt-3">
            <div class="Remind">
                <b>Already have an account?</b>
                <a href="/auth/">Sign in</a>
            </div>
        </form>
    </div>
{% endblock %}
